{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset="UTF-8">
<title> LIMS </title>
<link rel="stylesheet" href="{% static 'all_styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

</head>
<body>
    <header>
        <a href="{% url 'home_user' %}" class="site-name">LIMS</a>
    </header>


<br>
<h1>
    Raport z przeprowadzenia badania
</h1>

<form action="/submit_project/" method="post">
    {% csrf_token %}
    
    <label for="worker">Pracownik:</label><br>
    <input type="text" id="worker" name="worker"><br>

    <label for="patient">Pacjent:</label><br>
    <input type="text" id="patient" name="patient"><br>

    <label for="experiment_name">Nazwa eksperymentu:</label><br>
    <input type="text" id="experiment_name" name="experiment_name"><br>

    <label for="description">Opis:</label><br>
    <input type="text" id="description" name="description"><br>

    <label for="method">Metoda:</label><br>
    <input type="text" id="method" name="method"><br>

    <input type="submit" value="Zapisz badanie">
</form>

<footer>
    Made by <span>&#10084;</span> by Rafał Stottko, Karolina Sekutowicz & Iwona Koprek
    </footer>
</body>
</html>