{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset="UTF-8">
<title> LIMS </title>
<link rel="stylesheet" href="{% static 'all_styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

</head>
<body>
    <header>
        <a href="{% url 'home_user' %}" class="site-name">LIMS</a>
    </header>


<br>
<h1>
    Raport z przeprowadzenia badania
</h1>

<form action="/submit_medical_test/" method="post">
    {% csrf_token %}
    
    <label for="worker">Pracownik:</label>
    <select id="worker" name="worker">
        {% for entry in workers %}
            <option value="{{ entry.id }}">{{ entry.full_name }}</option>
        {% endfor %}
    </select><br>

    <label for="patient">Pacjent:</label>
    <select id="patient" name="patient">
        {% for entry in patients %}
            <option value="{{ entry.id }}">{{ entry.full_name }}</option>
        {% endfor %}
    </select><br>

    <label for="experiment_name">Indywidualny numer badania:</label>
    <input type="text" id="experiment_name" name="experiment_name"><br>

    <label for="description">Wynik badania:</label>
    <input type="text" id="description" name="description"><br>

    <label for="method">Metoda:</label>
    <select id="method" name="method">
        {% for entry in methods %}
            <option value="{{ entry.id }}">{{entry.name}}</option>
        {% endfor %}
    </select><br>

    <input type="submit" value="Zapisz badanie", class="button-modern">
</form>

<footer>
    Made with <span>&#10084;</span> by Rafał Stottko, Karolina Sekutowicz & Iwona Koprek
    </footer>
</body>
</html>