{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset="UTF-8">
<title> LIMS </title>
<link rel="stylesheet" href="{% static 'all_styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

</head>
<body>
    <header>
        <a href="{% url 'home_user' %}" class="site-name">LIMS</a>
    </header>
<br>
<h1>
    Formularz wpisania nowego projektu
</h1>

<form action="/submit_project/" method="post">
{% csrf_token %}

<label for="project_name">Nazwa projektu:</label><br>
<input type="text" id="project_name" name="project_name"><br>

<label for="team_leader">Kierownik projektu:</label><br>
<select id="team_leader" name="team_leader">
    {% for leader in team_leaders %}
        <option value="{{ leader.id }}">{{ leader.full_name }}</option>
    {% endfor %}
</select><br>

<label for="description">Opis projektu:</label><br>
<input type="text" id="description" name="description"><br>

<input type="submit" value="Dodaj projekt", class="button-modern">
</form>
<footer>
    Made with <span>&#10084;</span> by Rafał Stottko, Karolina Sekutowicz & Iwona Koprek
    </footer>
</body>
</html>

