{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset="UTF-8">
<title> LIMS </title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Product List</title>
<link rel="stylesheet" href="{% static 'all_styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

</head>
<body>
    <header>
        <a href="{% url 'home_user' %}" class="site-name">LIMS</a>
    </header>
    <br>
    <h1>Lista przeprowadzonych badań</h1>
    (Aby zaktualizować lub usunąć wpis kliknij w dowolny napis, w wierszu, w którym chcesz dokonać zmian) <br>
    <table class="table-modern">
        <thead>
            <tr>
                <th>Pracownik</th>
                <th>Pacjent</th>
                <th>Nazwa</th>
                <th>Wynik</th>
                <th>Metoda</th>

            </tr>
        </thead>
        <tbody>
            {% for obj in l %}
                <tr>
                    <td><a href="{% url 'modify_result' obj.id %}" style="text-decoration: none; color: inherit;">{{ obj.worker.full_name }}</a></td>
                    <td><a href="{% url 'modify_result' obj.id %}" style="text-decoration: none; color: inherit;">{{ obj.patient.full_name }}</a></td>
                    <td><a href="{% url 'modify_result' obj.id %}" style="text-decoration: none; color: inherit;">{{ obj.experiment_name }}</a></td>
                    <td><a href="{% url 'modify_result' obj.id %}" style="text-decoration: none; color: inherit;">{{ obj.description }}</a></td>
                    <td><a href="{% url 'modify_result' obj.id %}" style="text-decoration: none; color: inherit;">{{ obj.method.name }}</a></td>



                </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        Made with <span>&#10084;</span> by Rafał Stottko, Karolina Sekutowicz & Iwona Koprek
        </footer>
</body>
</html>
