{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset="UTF-8">
<title> LIMS </title>
<link rel="stylesheet" href="{% static 'test_style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

</head>
<body>
<h1>Wykaz projektów
</h1>
Liczba projektów: {{c}} <br>
<br>
Nazwy projektów: <br>
<ul>
{%for obj in l%}
<li><a href="{% url 'project_detail' obj.id %}">{{ obj.project_name }}</a> (kierownik: {{ obj.team_leader }})</li>
{%endfor %}

<br><br><br><br>
<a href="{% url 'add_project' %}"><button>Dodaj nowy projekt</button></a>

</body>
</html>

