{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset="UTF-8">
<title> LIMS </title>
<link rel="stylesheet" href="{% static 'test_style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

</head>
<body>
<h1>Wykaz projektów</h1>
Dzień dobry {{ user.first_name }}

Co chcesz zrobic?

<br>

<a href="{% url 'projects' %}"><button>Wyświetl listę projektów</button></a>

<br>

<a href="{% url 'logout' %}"><button>Wyloguj</button></a>

</body>
</html>

