{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset="UTF-8">
<title> LIMS </title>
<link rel="stylesheet" href="{% static 'all_styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

</head>
<body>
    <header>
        <a href="{% url 'home_user' %}" class="site-name">LIMS</a>
    </header>
<div class="centering">
<h1>Wykaz projektów</h1>
Dzień dobry {{ user.first_name }}

Co chcesz zrobic?

<br>

<a href="{% url 'projects' %}"><button, class="button-modern">Wyświetl listę projektów</button></a>

<br><br>
<a href="{% url 'employes' %}"><button, class="button-modern">Wyświetl listę pracowników</button></a>

<br><br>
<a href="{% url 'add_medical_test' %}"><button, class="button-modern">Wprowadź wyniki badania</button></a>

<br><br>
<a href="{% url 'badania' %}"><button, class="button-modern">Wyświetl spis przeprowadzonych badań</button></a>

<br><br>

<a href="{% url 'logout' %}"><button, class="button-modern">Wyloguj</button></a>
</div>
<footer>
    Made by <span>&#10084;</span> by Rafał Stottko, Karolina Sekutowicz & Iwona Koprek
    </footer>
</body>
</html>

