{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset="UTF-8">
<title> LIMS </title>
<link rel="stylesheet" href="{% static 'all_styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

</head>
<body>

<div class="centering">
<h1>Witamy na stronie domowej naszej medycznej bazy danych</h1>
<br><a href="{% url 'login' %}"><button, class='button-modern'>Informacje związane z realizacją projektuy</button></a>
<br><a href="{% url 'login' %}"><button, class='button-modern'>Zaloguj się</button></a>
<br><a href="{% url 'login' %}"><button, class='button-modern'>Zobacz swoje wyniki badań</button></a>
<br><a href="{% url 'about_us' %}"><button, class='button-modern'>Dowiedz się o nas więcej</button></a>




<br>
To do lista:
<br>
1. zaimplementować funkcjonalność dodawania badania
<br>
2. zaimplementówać funkcjonalność dodawania pacjenta
<br>
3. ulepszyć relacje w bazie danych
<br>
4. dodać jakiś komunikat, gdy uzytkownik nie ma uprawnień do wykonania danej akcji
</div>
<footer>
    Made with <span>&#10084;</span> by Rafał Stottko, Karolina Sekutowicz & Iwona Koprek
    </footer>
</body>
</html>