{% load static %}
<!DOCTYPE html>
<html lang='en'>

<link rel="stylesheet" href="{% static 'all_styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
{% if messages %}
    <ul class="error-message">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <br><br><br>
    <br><button type="submit", class="button-modern">Zaloguj</button>
</form>
<footer>
    Made with <span>&#10084;</span> by Rafał Stottko, Karolina Sekutowicz & Iwona Koprek
    </footer>
</html>