{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset="UTF-8">
<title> LIMS </title>
<link rel="stylesheet" href="{% static 'all_styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

</head>
<body>
    <header>
        <a href="{% url 'home_user' %}" class="site-name">LIMS</a>
    </header>
<br>
<h1>Wykaz projektów
</h1>
Liczba projektów: {{c}} <br>
<br>
Nazwy projektów: <br>
<ul>
{%for obj in l%}
<li><a href="{% url 'project_detail' obj.id %}">{{ obj.project_name }}</a> (kierownik: {{ obj.team_leader }})</li>
{%endfor %}

<br><br><br><br>
<a href="{% url 'add_project' %}"><button, class="button-modern">Dodaj nowy projekt</button></a>

</body>
<footer>
    Made with <span>&#10084;</span> by Rafał Stottko, Karolina Sekutowicz & Iwona Koprek
    </footer>
</html>

